@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  }

.avatar {
  background: $main;
  margin-bottom: 30px;
  height: 60px;
  width: 60px;
}
.icon {
  height: 50px;
  width: 50px;
}
