@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table{
  margin-top:30px;
  min-width:650px;

.tablehead{

  background-color:$main;
  .title{
    color:$text;
  }
}

}
.avatar {
  background: $main;
  margin-bottom: 30px;
  margin-top: 30px;
  height: 60px;
  width: 60px;
}
.icon {
  height: 40px;
  width: 40px;
}
