@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 50px;
}

.subtitle{
  text-transform: uppercase;
  margin-top: 50px;
}

.table{
  max-width:400px;
  .tablehead{
  background-color:$main;
  .titletable{
    color:$text;
    text-transform: uppercase;
  }
}
}
.avatar {
  background: $main;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 60px;
  width: 60px;
}
.icon {
  height: 50px;
  width: 50px;
}
