@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  margin-top:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.avatar{
  background:$main;
}
.textField{
  width:100px;

}

.select{
  min-width: 120px;

}
